<mat-list role="list">
    <a mat-list-item role="listitem" routerLink="/admin">Panel</a>
    <a mat-list-item role="listitem" routerLink="customers">Müşterilerim</a>
    <a mat-list-item role="listitem" routerLink="products">Ürünlerim</a>
    <a mat-list-item role="listitem" routerLink="orders">Siparişlerim</a>
  <a mat-list-item role="listitem" routerLink="users">Kullanıcılarım</a>
    <a mat-list-item role="listitem" routerLink="authorize-menu">Yetki Yönetimi</a>
    <a mat-list-item role="listitem" routerLink="roles">Rol Yönetimi</a>
</mat-list>
